// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _navigation.scss
// *
// *****************************************************************************

.#{$c-navigation} {

  // Mobile first
  position: fixed;
  z-index: 99;
  right: 0;
  left: 0;
  bottom: 0;

  transition: $animation-speed;


  // Tablet screens only
  @include breakpoint($breakpoint-small) {
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    left: auto;
    bottom: auto;
    width: 50%;
  }

  &__wrapper {
    width: 100%;

    @include breakpoint($breakpoint-small) {
      position: absolute;
      pointer-events: all;
      z-index: 99;
    }

  }

  &__menu-mobile {
    display: flex;
    flex-direction: row;
    transition: $animation-speed;

    @include breakpoint($breakpoint-small) {
      height: $brand-height;
    }

    li {
      @include reset-list;
      width: 25%;
      text-align: center;
    }
  }

  &__menu {
    display: none;
    width: 100%;
    margin: 0;

    transition: $animation-speed-slow;
    pointer-events: all;

    @include breakpoint($breakpoint-small) {
      opacity: 0.98;
      transform: perspective( 1200px ) rotateY( -10deg ) translateY(50px);

      &:hover {
        transform: perspective( 1200px ) rotateY( -8deg ) translateY(55px);
      }
    }

    &--show {
      display: flex;
      flex-wrap: wrap;

      @include breakpoint($breakpoint-small) {
        a {
          display: block;
          // Need this z-index as Safari flickers badly on the hover
          // transform without it.
          z-index: 98;
          position: absolute;
          top: 10px;
          right: 10px;
          bottom: 10px;
          left: 10px;
          transform: perspective( 1200px ) rotateY( 1deg );
          transition: $animation-speed-slow;
          &:hover {
            z-index: 99;
            background-color: $color-title-open-bg;
            transform: perspective( 1200px ) rotateY( -1deg ) scale(1.2);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          }
        }

      }
    }
  }

  &__primary-mobile {
    height: $mobile-nav-height;

    @include breakpoint($breakpoint-small) {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      transition: $animation-speed-slow;

      &:hover {
        transform: perspective( 1200px ) rotateY( -8deg );
      }

    }

    @include breakpoint($breakpoint-medium) {
      z-index: -1;
    }

    i {
      font-size: 40px;
      vertical-align: middle;
      line-height: $brand-height;
      transition: $animation-speed;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;

      &:hover,
      &:focus {
        i {
           transform: scale(1.1);
         }
      }

    }

  }

  @each $current-color in $colors-tile-fg-list {
    $i: index($colors-tile-fg-list, $current-color);
    &__item:nth-child( #{$i} ) {
      color: $current-color;
      background-color: nth($color-tile-bg-list, $i);

      a,
      a:visited {
        color: $current-color;
        text-decoration: none;
      }

      &:after {
        background-color: nth($color-tile-bg-list, $i);
      }
    }
  }

  &__item {
    @include reset-list;
    display: block;
    position: relative;
    width: 50%;
    height: 120px;
    padding: 0 6px;
    font-family: $fontPrimary;
    line-height: 120px;
    text-align: center;
    text-decoration: none;

    @include breakpoint($breakpoint-small) {
      display: block;
      line-height: $brand-height;
      background-color: transparent;
    }

    &--tile {
      height: auto;
      vertical-align: middle;
      line-height: $mobile-nav-height;
      color: $color-tile-fg;
      text-align: center;
      text-decoration: none;

      @include breakpoint($breakpoint-small) {
        line-height: $brand-height;
      }
    }

  }

  &__link {

  }
}
