// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _navigation.scss
// *
// *****************************************************************************

.#{$c-navigation} {

  // Mobile first
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: $animation-speed;

  // Tablet screens only
  @include breakpoint($breakpoint-small) {
    display: block;
    position: absolute;
    top: 0;
    right: 40px;
    bottom: auto;
    left: auto;
    width: 50%;
  }

  // *****************************************************************************
  // * Wrap entire tile menu
  // *****************************************************************************

  &__wrapper {
    width: 100%;

    @include breakpoint($breakpoint-small) {
      position: absolute;
      pointer-events: all;
      z-index: 99;
      transform: perspective( 1200px ) rotateY( -8deg );
      transition: $animation-speed-slow;

      &:hover {
        transform: perspective( 1200px ) rotateY( -4deg );
      }
    }
  }

  // *****************************************************************************
  // * Buttons that are always visible (x4)
  // *****************************************************************************

  &__primary-menu {
    display: flex;
    flex-direction: row;
    transition: $animation-speed;

    @include breakpoint($breakpoint-small) {
      height: $brand-height;
    }

    // Four wide
    .#{$c-navigation}__item {
      @include reset-list;
      width: 25%;
      text-align: center;
    }
  }

  // *****************************************************************************
  // * The popup menu itself
  // *****************************************************************************

  &__menu {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: $animation-speed-slow;
    pointer-events: all;

    @include breakpoint($breakpoint-small) {
      opacity: $default-opacity;
      transform: translateY(60px);

      &:hover {
        transform: translateY(70px);
        box-shadow: 0 10px 20px $color-shadows;
      }
    }

    i {
      font-size: 40px;
      vertical-align: middle;
      line-height: $brand-height;
      transition: $animation-speed;
    }

    // *****************************************************************************
    // * When menu is open...
    // *****************************************************************************

    &--show {

      // *****************************************************************************
      // * Elements within the Tile Menu (small screen)
      // *****************************************************************************

      display: flex;
      flex-wrap: wrap;

      a {
        display: flex;
        align-items: center;
        text-align: center;
        // Need this z-index as Safari flickers badly on the hover
        // transform without it.
        position: absolute;
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
        z-index: 98;
        transform: perspective( 1200px ) rotateY( 1deg );
        transition: $animation-speed-slow;

        &:hover {
          top: 7px;
          z-index: 99;
          background-color: $color-title-open-bg;
          transform: perspective( 1200px ) rotateY( -1deg ) scale(1.12);
          box-shadow: 0 10px 20px $color-shadows;
        }
      }

      span {
        width: 100%;
        text-align: center;
      }

      // *****************************************************************************
      // * Elements within the Tile Menu (larger screen)
      // *****************************************************************************

      @include breakpoint($breakpoint-small) {
        a {
          transform: perspective( 1200px ) rotateY( 1deg );

          &:hover {
            top: 7px;
            transform: perspective( 1200px ) rotateY( -1deg ) scale(1.15);
          }
        }

      }
    }
  }

  // *****************************************************************************
  // * Elements within the popup menu
  // *****************************************************************************

  &__primary {
    height: $mobile-nav-height;
    width: 100%;

    @include breakpoint($breakpoint-small) {
      position: absolute;
      top: 0;
      right: 0;
      line-height: $brand-height;
      transition: $animation-speed-slow;
    }

    // *****************************************************************************
    // * Fixed Menu, when header at page top
    // *****************************************************************************

    .#{$c-navigation}__item {
      height: auto;
      vertical-align: middle;
      line-height: $mobile-nav-height;
      color: $color-tile-fg;
      text-align: center;
      text-decoration: none;

      @include breakpoint($breakpoint-small) {
        line-height: $brand-height;
      }

      // Animate reveal of Fixed Menu items
      $increment: 0.25s;
      @for $i from 1 through 4 {
        &:nth-child( #{$i} ) {
          animation-delay: (0.05 * $i) + $increment;
          animation-duration: 300ms;
        }
      }

      // The toggle icon triggering menu, inside the Fixed Menu
      i {
        font-size: 40px;
        vertical-align: middle;
        line-height: $brand-height;
        transition: $animation-speed;
      }

      &--small {
        display: none;

        @include breakpoint($breakpoint-small) {
          display: block;
          width: 60px;
          margin-right: -100px;

          i {
            font-size: 20px;
          }
        }

      }
    }

  }

  // *****************************************************************************
  // * Regular menu items (in Tile Menu)
  // *****************************************************************************

  &__item {
    @include reset-list;
    display: block;
    position: relative;
    width: 50%;
    height: 120px;
    padding: 0 6px;
    font-family: $font-primary;
    line-height: 120px;
    text-align: center;
    text-decoration: none;

    a {
      display: inline-block;
      width: 100%;
    }

    @each $current-color in $colors-tile-fg-list {
      $i: index($colors-tile-fg-list, $current-color);
      &:nth-child( #{$i} ) {
        color: $current-color;
        background-color: nth($color-tile-bg-list, $i);
        a,
        a:visited {
          color: $current-color;
          text-decoration: none;
        }
        &:after {
          background-color: nth($color-tile-bg-list, $i);
        }
      }
    }

    @include breakpoint($breakpoint-small) {
      display: block;
      line-height: $brand-height;
      background-color: transparent;
    }

  }

  // *****************************************************************************
  // * Links in items (in Tile Menu)
  // *****************************************************************************

  &__link {
    vertical-align: middle;
  }
}
