// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: Headings Pattern
// *
// *****************************************************************************

@mixin heading($font-default: 22px, $font-small: 26px, $font-medium: 48px, $font-large: 54px, $font-xlarge: 62px, $class: "default", $level: "h2", $margin: 1rem) {
  .#{$class},
  .su-article__content #{$level} {

    @include rem(font-size, $font-default);
    @include rem(margin-bottom, $margin);
    line-height: $font-default * 1.1;

    @include breakpoint($small) {
      @include rem(font-size, $font-small);
      line-height: $font-small * 1.1;
    }

    @include breakpoint($medium) {
      @include rem(font-size, $font-medium);
      line-height: $font-medium * 1.1;
    }

    @include breakpoint($large) {
      @include rem(font-size, $font-large);
      line-height: $font-large * 1.1;
    }
  }
}

@include heading(26px, 46px, 48px, 54px, 62px, "su-heading--one", "h1", 0);
@include heading(22px, 24px, 26px, 28px, 34px, "su-heading--two", "h2", 2rem);
@include heading(20px, 22px, 22px, 24px, 28px, "su-heading--three", "h3", 1rem);
@include heading(19px, 20px, 20px, 22px, 24px, "su-heading--four", "h4", 1rem);
@include heading(18px, 18px, 18px, 20px, 22px, "su-heading--five", "h5", 1rem);
@include heading(16px, 17px, 17px, 18px, 20px, "su-heading--six", "h6", 1rem);

.su-heading {
  color: $color-fg;
  text-align: left;

  font-family: $font-title;
  font-weight: 300;

  &--light {
    color: $color-fg-on-dark;
  }

  &--one {
    text-transform: uppercase;
  }

  &__link {
    text-decoration: none;
    color: $color-fg;
  }

  // *****************************************************************************
  // * For headings that are between article blocks (index.php, for example)
  // *****************************************************************************

  &--section {
    @include rem(padding, 16px);
    text-transform: uppercase;

    @include small {
      @include rem(padding, 0 44px 44px 44px);
    }
  }
}
