<footer id="colophon" class="su-foot" role="contentinfo">
  <nav class="su-footer__navigation" role="navigation" aria-label="Site navigation">
    <ul class="su-footer__navigation-menu">
      <li class="su-footer__navigation-item">
        <a href="/code-tips">Code</a>
      </li>
      <li class="su-footer__navigation-item">
        <a href="/blog">Projects</a>
      </li>
      <li class="su-footer__navigation-item">
        <a href="/projects">Blog</a>
      </li>
    </ul>
  </nav>
</footer>
