// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _base.scss
// *
// *****************************************************************************

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  // If you enable hidden overflow here, iOS 11 Safari doesn't calculate the
  // page size correctly and you get strange clipping.
  // overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: $font-primary;
}

// Smooth out the scrolling on iOS
html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

small {
  font-size: 85%;
}

b,
strong {
  font-weight: bold;
}

em {
  font-style: italic;
  color: $color-black;
}

cite {
  font-style: normal;
}

img {
  border: 0;
}

hr {
  @include rem(margin, 20px 0);
  border: 0;
  border-top: 1px solid $color-black;
  border-bottom: 0;
}

abbr[title],
abbr[data-original-title] {
  border-bottom: 2px dotted $color-black;
  cursor: help;
  text-decoration: none;
}

// *****************************
// * LISTS
// *****************************

li {
  @include rem(margin-bottom, 8px);
  @include rem(font-size, 18px);
  line-height: 1.6;
  text-indent: 0;

  & p {
    font-size: inherit;
    line-height: inherit;
  }
}

ol {
  @include rem(margin-bottom, 32px);
  padding-left: 28px;

  @include small {
    padding-left: 0;
  }

  li {
    position: relative;
    counter-increment: step-counter;
    list-style-type: none;

    &::before {
      @include rem(margin-left, -28px);
      @include rem(padding-right, 10px);
      content: counter(step-counter);
      position: absolute;
      width: 16px;
      height: 16px;
      background-image: url('../images/bullet-ol.svg');
      color: $color-white;
      font-size: 13px;
      padding: 0;
      top: 0;
      margin-top: 4px;
      margin-right: 4px;
      text-align: center;
    }
  }
}

ul {

  li {
    &::before {
      top: 2px;
      content: url('../images/bullet-ul.svg');
      border-radius: 0;
      background-color: inherit;
    }
  }
}

dt {
  @include rem(margin-bottom, 15px);
  font-weight: bold;
}

dd {
  @include rem(padding, 0 0 10px 0);
  margin: 0;
}

dd + dt {
  @include rem(margin-top, 15px);
}

/**************************
* HELPERS
***************************/
.desktop-only {
  display: none;

  @include breakpoint($small) {
    display: block;
  }
}

.mobile-only {
  @include breakpoint($small) {
    display: none;
  }
}


.noscroll {
  overflow-y: hidden;
  height: 100%;
}


.overlay.js-isVisible {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/**************************
* VISUALLY HIDDEN
***************************/
.sr-only {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}
