// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _components.scss
// *
// *****************************************************************************

.su-component {

  color: $color-fg;

  .su-lane-primary__content & {
    color: $color-fg-on-dark;
  }

  &__title {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 22px;
    font-family: $font-title;
    font-weight: 300;
    color: $color-fg;
    text-transform: uppercase;

    .su-lane-primary__content & {
      color: $color-fg-on-dark;
    }
  }
}
