// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _lanes.scss
// *
// *****************************************************************************

$menu-offset: 60px;

.su-lane {

  $this: &;

  @include small {
    display: flex;
  }

  // Standard lane split
  #{$this}__main {

    @include rem(padding, 20px);

    @include small {
      @include rem(padding, 40px);
      width: 60%;
    }
  }

  #{$this}__side {

    @include rem(padding, 20px);

    @include small {
      @include rem(padding, 40px);
      width: 40%;
    }
  }

  // ***************************************************************************
  // * Primary lane with big impact colors
  // ***************************************************************************
  &--primary {

    background-color: $color-base-dark;

  }

  // ***************************************************************************
  // * First lane with spacers for navigation on the first section
  // ***************************************************************************

  &--first {

    #{$this}__main {
      @include small {
        margin-top: $menu-offset;
      }
    }

  }

  // ***************************************************************************
  // * Single column lane
  // ***************************************************************************

  &--span {

    #{$this}__main {
      width: 100%;
    }

  }
}
