// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _lanes.scss
// *
// *****************************************************************************

// Default the fonts
.su-lane-primary {

  background-color: $color-base-dark;

  @include small {
    display: flex;
  }

  &__splash {

    padding: 20px;

    @include small {
      width: 60%;
      padding: 40px;
    }
  }

  &__content {

    padding: 20px;

    @include small {
      width: 40%;
      padding: 40px;
    }
  }
}
