// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: Post Navigation
// *
// *****************************************************************************

.#{$c-post-navigation} {

  @include rem(margin, 16px);

  @include small {
    @include rem(margin, 44px);
  }

  &__next {
    @include fontawesome-after("\f105");
    color: $color-fg;
    text-decoration: none;

    &::after {
      @include rem(padding-left, 8px);
    }
  }

  &__previous {
    @include fontawesome("\f104");
    color: $color-fg;
    text-decoration: none;

    &::before {
      @include rem(padding-right, 8px);
    }
  }
}

.nav-links {
  @include rem(padding-top, 16px);

  a {
    text-decoration: none;
    color: $color-brand;
  }
}

// Hide the default navigation
// Todo: remove this in WP
.post-navigation {
  display: none;
}
