// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _latest.scss
// *
// *****************************************************************************

.#{$c-latest} {

  &__title {
    color: $color-fg-on-dark;
  }

  &__content {
    @include chip;
    padding: 0 40px 24px;
    color: $color-fg-on-dark;

    p {
      display: block;
      font-size: 14px;
      line-height: 24px;
      color: $color-fg-on-dark;
    }
  }

  &__image {
    width: 80px;
    height: 80px;
    margin: 0 40px;
    background-color: $color-fg-on-dark;
    background-size: cover;
  }
}
