<article class="su-article su-article-page">
  <header class="su-header su-article__header">

    <h2 class="su-title su-title--two su-article__title">
      <a href="su-title__link">This is an article title </a>
    </h2>

  </header>
</article>
<section class="su-article__content">
  <p>Hello world</p>
</section>
<footer  class="su-article__footer">

</footer>
