// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _navigation-tile.scss
// *
// *****************************************************************************

$tile-border-vertical: 2px;
$tile-border-horizontal: 1px;

@mixin poly($p1, $p2, $p3) {
  -webkit-clip-path: polygon($p1, $p2, $p3);
  clip-path: polygon($p1, $p2, $p3);
}

.#{$c-navigation} {

  &__secondary-tile {
    @include reset-list;
    @include rem(font-size, 18px);

    display: block;
    position: relative;
    width: 190px;
    height: 100px;
    transition: $animation-speed-slow;

    @include breakpoint($small) {
      @include rem(font-size, 19px);
      display: block;
      width: 190px;
      height: 100px;
      border-top: $tile-border-vertical solid $color-tile-border-high;
      border-right: $tile-border-horizontal solid $color-tile-border-low;
      border-bottom: $tile-border-vertical solid $color-tile-border-high;
      border-left: $tile-border-horizontal solid $color-tile-border-low;
      line-height: $brand-height;
      background-color: transparent;
      background-size: 100% 100%;
    }

    &:hover,
    &:focus {
      @include breakpoint($small) {
        border-top: 2px solid $color-white;
      }
    }

    &::before,
    &::after {
      @include breakpoint($small) {
        display: block;
        position: absolute;
        width: 4px;
        height: 4px;
        content: "";
        background-color: rgba($color-tile-border, 0.4);
      }
    }

    &::before {
      top: -$tile-border-vertical;
      right: -$tile-border-horizontal;
    }

    &::after {
      bottom: -$tile-border-vertical;
      left: -$tile-border-horizontal;
    }

    &:hover,
    &:focus {
      border-top-color: $color-highlight;
    }
  }


// *****************************************************************************
// * Tile links
// * The background images for these links are set in config/_tiles.scss
// *****************************************************************************

  &__secondary-tile-link {
    @include rem(padding, 4px);
    @include rem(font-size, 16px);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 98;
    padding: 10px;
    font-family: $font-primary;
    background-size: cover;
    text-align: left;
    text-decoration: none;
    transition: $animation-speed-slow;
    vertical-align: top;

    // Affect borders of tiles
    &:hover,
    &:focus {
      //border: 2px solid $color-highlight;
      //background-color: $color-highlight;
    }

    span {
      color: $color-white;
    }

  }
}

.#{$c-navigation}__secondary {

}

// *****************************************************************************
// * External
// *****************************************************************************
.pen {
  @include tile;
}

.profile {
  @include tile('tile-profile.svg');
}

.external {
  @include tile;
}

// *****************************************************************************
// * Categories
// *****************************************************************************
.code {
  @include tile('tile-code.svg');
}

.blog {
  @include tile('tile-blog.svg');
}

.log {
  @include tile('tile-blog.svg');
}

.projects {
  @include tile;
}

.setup {
  @include tile;
}

.inspire {
  @include tile;
}
