// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _navigation-tile.scss
// *
// *****************************************************************************

$tile-border-vertical: 2px;
$tile-border-horizontal: 1px;

@mixin poly($p1, $p2, $p3) {
  -webkit-clip-path: polygon($p1, $p2, $p3);
  clip-path: polygon($p1, $p2, $p3);
}

.#{$c-navigation} {

  &__secondary-tile {
    @include reset-list;

    display: block;
    position: relative;
    width: 190px;
    height: 100px;
    transition: $animation-speed-slow;

    @include breakpoint($small) {
      @include rem(font-size, 19px);
      display: block;
      width: 190px;
      height: 100px;
      line-height: $brand-height;
      background-color: transparent;
      background-size: 100% 100%;
    }
  }

// *****************************************************************************
// * Tile links
// * The background images for these links are set in config/_tiles.scss
// *****************************************************************************

  &__secondary-tile-link {
    @include rem(padding, 4px);
    @include rem(font-size, 28px);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 98;
    padding: 10px;
    font-family: $font-primary;
    background-size: cover;
    text-align: left;
    text-decoration: none;
    transition: $animation-speed-slow;
    vertical-align: top;
    overflow: hidden;
    line-height: 100%;

    color: rgba($color-white, 0.6);

    &:hover,
    &:focus {
      background-color: $color-brand;
    }

    span {
      text-transform: uppercase;
    }

  }
}

.#{$c-navigation}__secondary {

  // *****************************************************************************
  // * Categories
  // * See config/icons.scss
  // *****************************************************************************

  // *****************************************************************************
  // * External
  // *****************************************************************************
  .pen {
    @include tile;
  }

  .profile {
    @include tile($icon-profile);
  }

  .external {
    @include tile;
  }

  // *****************************************************************************
  // * Main categories
  // *****************************************************************************

  .code {
    @include tile($icon-code);
  }

  .blog {
    @include tile($icon-blog);
  }

  .log {
    @include tile($icon-blog);
  }

  .projects {
    @include tile($icon-project);
  }

  .setup {
    @include tile;
  }

  .inspire {
    @include tile;
  }
}
