// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _widget.scss
// *
// *****************************************************************************

// Classes from WordPress not easily changed so for now these are slighly off
// our usual component styling codestyle

.#{$c-widget} {

  background-color: $color-page-bg;

  &::before {
    @include rem(margin-bottom, 16px);
    display: block;
    width: 20px;
    height: 4px;
    content: "";
    background-color: $color-divider;
  }

  &-title {
    @include rem(margin-bottom, 16px);
    @include rem(font-size, 30px);
    font-family: $font-primary;
  }
}
