// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: Footer
// *
// *****************************************************************************

.su-footer {

  width: 100%;
  color: darken($color-white, 10%);

  @include small {
    display: table;
  }

  &__navigation {
    @include rem(padding, 16px);

    @include small {
      @include rem(padding, 32px);
      display: table-cell;
    }
  }

  &__navigation-menu {

  }

  &__navigation-item {
    @include rem(margin-right, 16px);
    display: inline-block;

    a {
      @include link;
    }
  }

  &__meta {
    @include rem(padding, 32px);
    @include rem(font-size, 12px);

    line-height: 1.5;
    text-transform: lowercase;

    @include small {
      display: table-cell;
      text-align: right;
    }

    a {
      @include link;
      color: darken($color-white, 20%);
    }
  }

}
