<div class="su-component su-project-spinner">

  <header class="su-component__title">
    <h2>Spinner</h2>
  </header>

  <div class="su-project-spinner__pulse">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 520 520" class="dial">
      <title>Circle</title>
      <g class="dial-circles">
        <g transform="rotate(-90 260 264)">
          <circle class="dial-outer" cx="260" cy="264" r="200" fill="none" stroke="#64d3de" stroke-miterlimit="10" opacity="0.6" />
        </g>
        <g transform="rotate(-90 260 264)">
          <circle class="dial-track" cx="260" cy="264" r="178" fill="none" stroke="#50afb8" stroke-miterlimit="10" stroke-width="8" />
        </g>
        <g transform="rotate(-90 260 264)">
          <circle class="dial-track-perc" cx="260" cy="264" r="178" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="8"/>
        </g>
      </g>
      <g class="dial-percent-text">
        <rect class="pulse-tick" height="10px" width="10px" x="255" y="43.99" transform='rotate(45 255 43.99)' transform-origin: 50% 50%;/>
        <rect class="pulse-tick" height="10px" width="10px" x="388" y="86.99"/>
        <rect class="pulse-tick" height="10px" width="10px" x="471" y="199.99"/>
        <rect class="pulse-tick" height="10px" width="10px" x="460" y="340.99"/>
        <rect class="pulse-tick" height="10px" width="10px" x="381" y="444.99"/>
        <rect class="pulse-tick" height="10px" width="10px" x="250" y="480"/>
      </g>
    </svg>

  </div>

</div>
