// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _content.scss
// *
// *****************************************************************************

.#{$c-content} {

  @include rem(margin-top, 20px);

  background-color: $color-page-bg;

  @include breakpoint($breakpoint-small) {
    display: flex;
  }

}


.content-area {
  float: none;

  margin: 0;

  @include breakpoint($breakpoint-small) {
    width: 70%;
  }
}

.sidebar {

  margin: 0;

  @include breakpoint($breakpoint-small) {
    width: 30%;
  }
}
