// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _colors.scss
// *
// * Imports all global colors. You should *always* use color vars defined here
// * rather than explicitly defining colors in individual components/patterns.
// *
// *****************************************************************************

$color-black: #000000;
$color-white: #FFFFFF;
$color-tint: #189AE3;

// Where the hell are the colors? Part of the goal of this project is to use a
// really limited color palette. We only use shades of the colors defined
// above this message. You can find variations of these in color-elements.scss.

