// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: Icon names
// *
// *****************************************************************************

$icon-profile: 'tile-profile.svg';
$icon-project: 'tile-projects.svg';
$icon-code: 'tile-code.svg';
$icon-blog: 'tile-blog.svg';
