// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _tiles.scss
// *
// * Configuation for tile menus, where we use classes to assign background
// * images. See `navigation-tile` component
// *
// *****************************************************************************

// Directly linked menu entries
.tile-pen {
  border: 2px solid red;
  background-image: url("../images/tile-icons/tile-example.svg");
}

.tile-profile {
  border: 2px solid red;
  background-image: url("../images/tile-icons/tile-example.svg");
}

// Categorie menu entries
.tile-category-code {
  border: 2px solid blue;
  background-image: url("../images/tile-icons/tile-example.svg");
}

.tile-category-blog {
  border: 2px solid green;
  background-image: url("../images/tile-icons/tile-example.svg");
}

.tile-category-log {
  border: 2px solid magenta;
  background-image: url("../images/tile-icons/tile-example.svg");
}


.tile-category-projects {
  border: 2px solid purple;
  background-image: url("../images/tile-icons/tile-example.svg");
}

.tile-category-setup {
  border: 2px solid orange;
  background-image: url("../images/tile-icons/tile-example.svg");
}

.tile-category-inspire {
  border: 2px solid pink;
  background-image: url("../images/tile-icons/tile-example.svg");
}
