<article class="su-project">
  <header class="su-project__heading">
    <h2 class="su-heading su-heading--two">{{title}}</h2>
  </header>
  <div>
    {{{content}}}
  </div>
  <footer>
    {{{footer}}}
  </footer>
</article>
