// *****************************************************************************
// * Hide content in various contexts
// *****************************************************************************

@mixin sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  background-color: $color-page-bg;
  color: $color-body-text;
}
