// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: Article: First Devlog
// *
// *****************************************************************************

.su-article-first-devlog {

  // *****************************************************************************
  // * Any content styling overrides for this content type
  // *****************************************************************************

  background-image: url('../images/backgrounds/frontpage.svg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 282px;
  margin-top: 0;
  margin: 0;

  @include small {
    display: flex;
    margin-top: -100px;
    min-height: 450px;
  }

  // *****************************************************************************
  // * Article type specific
  // *****************************************************************************

  .su-article__header {
    @include rem(margin-left, 16px);
    @include rem(padding-top, 44px);

    @include small {
      @include rem(margin-left, 44px);
      @include rem(padding-top, 112px);
      width: 50%;
    }

    @include medium {
      width: 50%;
    }

    .su-heading {
      @include small {
        max-width: 100px;
      }
    }
  }

  .su-article__content {
    @include rem(margin, 0 16px);
    width: auto;

    @include small {
      @include rem(margin, 16px 16px 16px 0);
      @include rem(padding-top, 112px);
      width: 50%;
    }

    @include medium {
      @include rem(margin, 16px 32px 16px 16px);
    }
  }

  // *****************************************************************************
  // * Article furnature: content styling overrides for this content type
  // *****************************************************************************

  .su-article__more {

  }

  .su-article__footer {

  }

  .su-article__meta {

  }

}
