// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _site-logo.scss
// *
// *****************************************************************************

.su-logo {
  display: none;
  position: absolute;

  transform: translate3d(0,0,0) perspective( $small-default-perspective ) rotateY( -15deg );
  transform-origin: 20% 0;
  pointer-events: all;
  background-image: url('../images/logo.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @include small {
    display: block;
    top: 10px;
    right: 18px;
    width: 90px;
    height: 90px;
    z-index: 9;
  }

  @include medium {
    display: block;
    top: 10px;
    right: 18px;
    width: 150px;
    height: 150px;
  }

  &--small {
    display: block;
    position: absolute;
    margin-top: 10px;
    right: 20px;
    width: 30px;
    height: 30px;

    @include small {
      display: none;
    }
  }
}
