<header class="su-head">
  <div class="su-brand">
    <h1 class="su-title su-title--one su-brand__title">
      Sheru
    </h1>
  </div>
  <div class="su-navigation">
    <nav class="su-navigation__wrapper">
      <ul class="su-navigation__menu js-navigation">
        <li class="su-navigation__item su-navigation__item-1">
          <a href="#">
            Menu item 1
          </a>
        </li>
        <li class="su-navigation__item su-navigation__item-2">
          <a href="#">
            Menu item 2
          </a>
        </li>
        <li class="su-navigation__item su-navigation__item-3">
          <a href="#">
            Menu item 3
          </a>
        </li>
        <li class="su-navigation__item su-navigation__item-4">
          <a href="#">
            Menu item 4
          </a>
        </li>
        <li class="su-navigation__item  su-navigation__item-5 su-navigation__item--hide-desktop">
          <a href="#">
            Menu item 5
          </a>
        </li>
        <li class="su-navigation__item su-navigation__item-6 su-navigation__item--hide-desktop">
          <a href="#">
            Menu item 6
          </a>
        </li>
      </ul>
      <div class="su-navigation__primary-mobile">
        <ul class="su-navigation__menu-mobile">
          <li class="su-navigation__item su-navigation__item--tile su-navigation__item--one">
            <a href="#">Code</a>
          </li>
          <li class="su-navigation__item su-navigation__item--tile su-navigation__item--two">
            <a href="#">Blog</a>
          </li>
          <li class="su-navigation__item su-navigation__item--tile su-navigation__item--three">
            <a href="#">Tweet</a>
          </li>
          <li class="su-navigation__item su-navigation__item--tile su-navigation__item--four js-toggle">
            <a href="#">
              <i class="fa fa-th-large menu-icon"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

