<div class="su-nav">

  <nav class="su-nav__wrapper">

    {{site-header-brand}}

    <ol class="su-nav__primary">

      <li class="su-nav__primary-tile animation-fadein">
        <a href="/code-tips" class="su-nav__primary-tile-link">Code</a>
      </li>
      <li class="su-nav__primary-tile animation-fadein">
        <a href="/blog" class="su-nav__primary-tile-link">Projects</a>
      </li>
      <li class="su-nav__primary-tile animation-fadein">
        <a href="/projects" class="su-nav__primary-tile-link">Blog</a>
      </li

      <li class="su-nav__primary-tile animation-fadein js-toggleMenu">
        <button class="su-nav__button"
          aria-haspopup="true"
          aria-owns="nav-secondary"
          aria-controls="nav-secondary">
          <span class="sr-only">Toggle expanded navigation</span>
          <i class="fa fa-th-large su-display-small"></i>
          <i class="fa fa-bars su-display-medium"></i>
        </button>
      </li>

      <li class="su-nav__primary-tile su-nav__primary-tile--small animation-fadein js-toggleSearch">
        <button class="su-nav__button"
          aria-haspopup="true"
          aria-owns="nav-search"
          aria-controls="nav-search">
          <span class="sr-only">Toggle search form</span>
          <i class="fa fa-search su-display-medium"></i>
        </button>
      </li>

    </ol>

    {{navigation-search}}

    <div class="su-nav__scroll-wrap">

      <div class="su-nav__action js-nav-control">
        <div class="su-nav__action-inner">
        {{!-- <i class="fa fa-arrow-right"></i> --}}
        </div>
      </div>

      <div class="su-nav__scroll su-scrollbar">
        <ol class="su-nav__secondary js-nav" aria-expanded="false" aria-hidden="true" id="nav-secondary">
          {{#each secondaryNav}}

          <li class="su-nav__tile-wrapper">
            {{>navigation-tile ctxTile}}
          </li>

          {{/each}}
        </ol>
      </div>

    </div>

  </nav>
</div>
