<header class="su-head">
  <div class="su-brand">
    <h1 class="su-title su-title--one su-brand__title">
      Sheru
    </h1>
  </div>
  <div class="su-navigation">
    <nav class="su-navigation__wrapper">
      <ul class="su-navigation__menu js-navigation">
        <li>
          <a href="#" class="menu-item menu-item-1">
            Menu item 1
          </a>
        </li>
        <li>
          <a href="#" class="menu-item menu-item-2">
            Menu item 2
          </a>
        </li>
        <li>
          <a href="#" class="menu-item menu-item-3">
            Menu item 3
          </a>
        </li>
        <li>
          <a href="#" class="menu-item menu-item-4">
            Menu item 4
          </a>
        </li>
        <li>
          <a href="#" class="menu-item  menu-item-5 menu-item--hide-desktop">
            Menu item 5
          </a>
        </li>
        <li>
          <a href="#" class="menu-item menu-item-6 menu-item--hide-desktop">
            Menu item 6
          </a>
        </li>
      </ul>
      <div class="su-navigation__primary-mobile">
        <ul class="su-navigation__menu-mobile">
          <li>
            <a href="#" class="menu-item menu-item--tile menu-item--one">Code</a>
          </li>
          <li>
            <a href="#" class="menu-item menu-item--tile menu-item--two">Blog</a>
          </li>
          <li>
            <a href="#" class="menu-item menu-item--tile menu-item--three">Tweet</a>
          </li>
          <li>
            <a href="#" class="menu-item menu-item--tile menu-item--four js-toggle">
              <i class="fa fa-th-large menu-icon"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

