<header class="su-head">
  <div class="su-brand">
    <h1 class="su-title su-title--one su-brand__title">
      Sheru
    </h1>
  </div>

  {{navigation-search}}

  <div class="su-navigation">
    <nav class="su-navigation__wrapper">
      <ul class="su-navigation__menu js-navigation">
        <li class="su-navigation__item">
          <a href="#" class="su-navigation__link">
            Menu item 1
          </a>
        </li>
        <li class="su-navigation__item">
          <a href="#" class="su-navigation__link">
            Menu item 2
          </a>
        </li>
        <li class="su-navigation__item">
          <a href="#" class="su-navigation__link">
            Menu item 3
          </a>
        </li>
        <li class="su-navigation__item">
          <a href="#" class="su-navigation__link">
            Menu item 4
          </a>
        </li>
        <li class="su-navigation__item su-navigation__item--hide-desktop">
          <a href="#" class="su-navigation__link">
            Menu item 5
          </a>
        </li>
        <li class="su-navigation__item su-navigation__item--hide-desktop">
          <a href="#" class="su-navigation__link">
            Menu item 6
          </a>
        </li>
      </ul>
      <div class="su-navigation__primary">
        <ul class="su-navigation__primary-menu">
          <li class="su-navigation__item">
            <a href="/code-tips">Code</a>
          </li>
          <li class="su-navigation__item">
            <a href="/blog">Projects</a>
          </li>
          <li class="su-navigation__item">
            <a href="/projects">Blog</a>
          </li>
          <li class="su-navigation__item js-toggle">
            <a href="#">
              <i class="fa fa-th-large su-display-small"></i>
              <i class="fa fa-bars su-display-medium"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

