<div class="su-navigation">

  <nav class="su-navigation__wrapper">

    {{site-header-brand}}

    <div class="su-navigation__primary">

      <ol class="su-navigation__menu-primary">
        <li class="su-navigation__tile animation-fadein">
          <a href="/code-tips">Code</a>
        </li>
        <li class="su-navigation__tile animation-fadein">
          <a href="/blog">Projects</a>
        </li>
        <li class="su-navigation__tile animation-fadein">
          <a href="/projects">Blog</a>
        </li>
        <li class="su-navigation__tile animation-fadein js-toggleMenu">
          <button class="su-navigation__button"
            aria-haspopup="true"
            aria-owns="navigation-secondary"
            aria-controls="navigation-secondary">
            <i class="fa fa-th-large su-display-small"></i>
            <i class="fa fa-bars su-display-medium"></i>
          </button>
        </li>
        <li class="su-navigation__tile su-navigation__tile--small animation-fadein js-toggleSearch">
          <button class="su-navigation__button"
            aria-haspopup="true"
            aria-owns="navigation-search"
            aria-controls="navigation-search">
            <i class="fa fa-search su-display-medium"></i>
          </button>
        </li>
      </ol>

    </div>

    {{navigation-search}}

    <ol class="su-navigation__menu-secondary js-navigation" aria-expanded="false" aria-hidden="true" id="navigation-secondary">
      <li class="su-navigation__tile">
        <a href="#" class="su-navigation__link">
          Menu tile 1
        </a>
      </li>
      <li class="su-navigation__tile">
        <a href="#" class="su-navigation__link">
          Menu tile 2
        </a>
      </li>
      <li class="su-navigation__tile">
        <a href="#" class="su-navigation__link">
          Menu tile 3
        </a>
      </li>
      <li class="su-navigation__tile">
        <a href="#" class="su-navigation__link">
          Menu tile 4
        </a>
      </li>
      <li class="su-navigation__tile su-navigation__tile--hide-desktop">
        <a href="#" class="su-navigation__link">
          Menu tile 5
        </a>
      </li>
      <li class="su-navigation__tile su-navigation__tile--hide-desktop">
        <a href="#" class="su-navigation__link">
          Menu tile 6
        </a>
      </li>
    </ol>

  </nav>
</div>
