// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _animation.scss
// *
// *****************************************************************************

.animation-fadein {
  opacity: 0;
  animation: fadein ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
