// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _layout.scss
// *
// *****************************************************************************

// *****************************************************************************
// * ADMIN
// * Here we have to add some space if the WP admin bar is open as our theme
// * removes the generated space (to allow for accurate absolute positioning)
// *****************************************************************************

body.admin-bar {
  @include rem(padding-top, 50px);

  @include breakpoint($breakpoint-small) {
    @include rem(padding-top, 10px);
  }
}

// *****************************************************************************
// * Helpers
// *****************************************************************************

// Hide on medium (display small only)
.#{$namespace}display-small {
  @include breakpoint($breakpoint-small) {
    display: none;
  }
}

// Hide on small (display medium or above)
.#{$namespace}display-medium {
  display: none;

  @include breakpoint($breakpoint-small) {
    display: inherit;
  }
}

// *****************************************************************************
// * Basic site layout
// *****************************************************************************

.#{$namespace}site {
  @include rem(padding, 10px 20px);
  vertical-align: baseline;
  transition: $animation-speed;

  @include breakpoint($breakpoint-xsmall) {
    @include rem(padding, 40px 30px);
  }

  @include breakpoint($breakpoint-small) {
    @include rem(padding, 40px 40px);
  }

  @include breakpoint($breakpoint-large) {
    @include rem(padding, 60px 60px);
  }

  &::before {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: radial-gradient(ellipse at center, rgba($color-white, 0) 0%, rgba($color-tint, 0.6) 100%);
  }

}

.site-inner {
  position: relative;
  max-width: 1800px;
  margin: 0 auto;
}
