// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _layout.scss
// *
// *****************************************************************************

$page-perspective: 10000px;

// Wraps everything to avoid page backgrounds messing with Fabric
.#{$namespace}page  {
  @include rem(padding, 10px);
  min-height: 100%;
  background-color: $color-body-bg;
}

// *****************************************************************************
// * Animated wrapper
// *****************************************************************************

.#{$namespace}wrapper {
  display: flex;
  position: relative;
  min-height: 100%;
  border: 1px solid $color-base-light;
  background-color: $color-base-light;
  transition: $animation-speed-xslow;
  flex-direction: column;
  transform-origin: 100% 50%;

  @include breakpoint($small) {
    @include rem(margin, 20px);
    transform: perspective( $page-perspective ) rotateY( -3deg );
  }

  &:hover {
    @include breakpoint($small) {
      transform: perspective( $page-perspective ) rotateY( -5deg );
    }
  }

  .su-menu-open & {

    @include breakpoint($small) {
      @include rem(margin, 20px);
      transform: perspective( $page-perspective ) rotateY( -10deg ) translateX( 60px ) translateY( 10px );
    }

    &:hover {
      @include breakpoint($small) {
        transform: perspective( $page-perspective ) rotateY( -8deg ) translateX( 40px ) translateY( 10px );
      }
    }

  }

}

// *****************************************************************************
// * Helpers
// *****************************************************************************

// Hide on medium (display small only)
.#{$namespace}display-small {
  display: inherit!important;

  @include breakpoint($small) {
    display: none!important;
  }
}

// Hide on small (display medium or above)
.#{$namespace}display-medium {
  display: none!important;

  @include breakpoint($small) {
    display: inherit!important;
  }
}

// *****************************************************************************
// * ADMIN
// * Here we have to add some space if the WP admin bar is open as our theme
// * removes the generated space (to allow for accurate absolute positioning)
// *****************************************************************************

body {
  &.admin-bar {
    @include rem(padding-top, 50px);

    @include breakpoint($small) {
      @include rem(padding-top, 10px);
    }
  }
}
