// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _layout.scss
// *
// *****************************************************************************

// Wraps everything to avoid page backgrounds messing with Fabric
.#{$namespace}page  {
  @include rem(padding, 10px);
  min-height: 100%;
  background-color: $color-body-bg;
}

// Inner wrapper, around all elemenents
.#{$namespace}wrapper {
  display: flex;
  position: relative;
  min-height: 100%;
  border: 1px solid $color-base-light;
  background-color: $color-base-light;
  transition: $animation-speed;
  flex-direction: column;

  @include xsmall {
    @include rem(margin, 20px);
  }
}

// *****************************************************************************
// * Helpers
// *****************************************************************************

// Hide on medium (display small only)
.#{$namespace}display-small {
  display: inherit;
  @include breakpoint($breakpoint-small) {
    display: none;
  }
}

// Hide on small (display medium or above)
.#{$namespace}display-medium {
  display: none;

  @include breakpoint($breakpoint-small) {
    display: inherit;
  }
}

// *****************************************************************************
// * ADMIN
// * Here we have to add some space if the WP admin bar is open as our theme
// * removes the generated space (to allow for accurate absolute positioning)
// *****************************************************************************

body.admin-bar {
  @include rem(padding-top, 50px);

  @include breakpoint($breakpoint-small) {
    @include rem(padding-top, 10px);
  }
}
