// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _names.scss
// *
// *****************************************************************************

// *****************************************************************************
// * PATTERNS
// *****************************************************************************

$p-paragraph: $namespace + "paragraph";
$p-title: $namespace + "title";
$p-forms: $namespace + "forms";

// *****************************************************************************
// * COMPONENTS
// *****************************************************************************

$c-article: $namespace + "article";
$c-head: $namespace + "head";
$c-brand: $namespace + "brand";
$c-navigation: $namespace + "navigation";
$c-navigation-search: $namespace + "navigation-search";

