// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _project-spinner.scss
// *
// *****************************************************************************

.#{$c-project-spinner} {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(340deg, $color-bg-dark 0%, lighten($color-bg-dark,50%) 100%);

  &__pulse {
    margin: 0 auto;
    text-align: center;
  }
}
