<form method="get"
      id="navigation-search"
      class="su-navigation-search js-search"
      action=""
      aria-hidden="true"
      aria-expanded="false">
  <label class="su-navigation-search__label" for="search-input">
    <span class="sr-only">Search for:</span>
    <input type="search"
           class="su-forms__input su-navigation-search__input"
           placeholder=""
           value=""
           name="s"
           role="search"
           id="search-input"
    />
  </label>
  <button type="submit" class="su-navigation-search__submit">
    <i class="fa fa-search"></i>
    <span class="sr-only">Submit search</span>
  </button>
</form>
