<form role="search"
      method="get"
      class="su-search js-search"
      action="">
  <label>
    <span class="sr-only">Search for:</span>
    <input type="search"
           class="su-forms__input su-search__input"
           placeholder=""
           value=""
           name="s"
    />
  </label>
  <button type="submit" class="su-search__submit">
    <i class="fa fa-search"></i>
    <span class="sr-only">Submit search</span>
  </button>
</form>
