// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _navigation-search.scss
// *
// *****************************************************************************

.#{$c-navigation-search} {

  display: flex;
  width: 70%;

  @include breakpoint($breakpoint-small) {
    width: 25%;
  }

  &__submit {

  }

  &--focus {
    // Make field wider when selected?
  }

  // Any overrides to su-forms__input here:
  .su-forms__input {
    height: 100%;
    width: 100%;
  }

  .su-forms__label {
    width: 100%;
  }

}
