// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _navigation-search.scss
// *
// *****************************************************************************

$color-search-bg: #FFFFFF;

$layout-search-field-height: 50px;

.#{$c-navigation-search} {

  @include clearfix;

  display: none;
  position: relative;
  width: 100%;
  background-color: $color-title-open-bg;

  @include breakpoint($breakpoint-small) {
    order: 1;
    opacity: $default-opacity;
    transform: translateY(60px);
  }

  &__input {
    @include rem(padding, 0 20px);
    @include rem(line-height, 40px);
    @include rem(font-size, 24px);
    width: 100%;
    border: 6px solid $color-title-open-bg;
    font-family: $font-primary;

    &:focus,
    &:hover {
      outline: none;
    }
  }

  &__submit {
    @include rem(padding, 0 20px);
    @include rem(font-size, 20px);
    border: 0;
    color: $color-white;
    background-color: $color-title-open-bg;
  }

  &__label {
    width: 100%;
  }

  &--show {
    display: flex;
  }

}
