<header class="su-brand">
  <h1 class="su-brand__title">
    <a href="#" class="su-brand__link">Sheru</a>
    <a href="#" class="su-brand__link--hidden">Shell Bryson</a>
  </h1>
  <div class="su-brand__subtitle">
    <span>diary of a web developer</span>
  </div>
</header>
