<header class="su-brand">
  <div class="su-brand__wrapper">

    <h1 class="su-brand__title">
      <a href="#" class="su-brand__link" rel="home">Sheru</a>
      <a href="#" class="su-brand__link su-brand__link--hidden" rel="home">Shell Bryson</a>
    </h1>

    <div class="su-brand__subtitle">
      Diary of a web developer
    </div>

    <div class="su-brand__logo">
      Logo
    </div>

  </div>
</header>
