<div class="su-component su-latest">

  <header class="su-component__title">
    <h2>I am the latest post here</h2>
  </header>

  <div class="su-latest__content">
    <p>
      I am the excerpt from the post. I have a limited content, followed
      by an image. I should only be one paragraph.
    </p>
  </div>

  <div class="su-latest__image">

  </div>

</div>
