<div class="su-nav__secondary-tile">

  <a href="{{url}}" class="su-nav__secondary-tile-link {{#if long}}su-nav__secondary-tile-link--long{{/if}}">
    <span>{{title}}</span>
    <span class="divider"></span>
  </a>
  <span class="su-nav__shard"></span>
</div>
