// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _layout.scss
// *
// *****************************************************************************

body {
  background-color: $color-body-bg;
}

.su-site {
  @include rem(margin, 10px 10px);
  vertical-align: baseline;
  background-color: $color-page-bg;
  transition: $animation-speed;

  @include breakpoint($breakpoint-xsmall) {
    @include rem(margin, 40px 30px);
  }

  @include breakpoint($breakpoint-small) {
    @include rem(margin, 40px 40px);
  }
}
