/*
 SHAME FILE
 Sometimes we have to hack. It's just one of those things. We don't like to do it, but Browsers are fickle creatures.
 This file can be used to include the ugly, the bad, and the hacks, but name and shame.
*/

/*
  HACK DESCRIPTION, REASON AND **NAME OF AUTHOR**
*/

// *****************************************************************************
// * Reset lists specifically for Fabric -- Sheru
// *****************************************************************************

.parchment {
  &-item-group {
    position: relative;
  }

  &-tab-box__tab {
    @include reset-list;
  }

  &-menu {
    z-index: 99999;

    li,
    ul ul li {
      @include reset-list;
    }
  }

  &-menu__item {
    @include reset-list;
  }

  &-preview-head {
    display: none;
  }

  &-preview-body {
    height: 100%;
    margin: 0;
  }

  &-main {
    height: 100%;
  }
}

.icon__block {
  &::before {
    display: none;
  }
}
