// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _sidebar.scss
// *
// *****************************************************************************

.#{$c-sidebar} {
  width: 100%;
  margin: 0;
  background-color: $color-sidebar-bg;

  @include medium {
    width: 30%;
  }

}

