// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _sidebar.scss
// *
// *****************************************************************************

.#{$c-sidebar} {
  @include rem(padding, 20px);
  width: 100%;
  margin: 0;

  @include medium {
    // pad to give us a gutter (various brand elements)
    padding-top: 160px;
    display: table-cell;
    width: 30%;
    vertical-align: top;
    background-color: $color-sidebar-bg;
  }
}
