// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _sidebar.scss
// *
// *****************************************************************************

.#{$c-sidebar} {
  @include rem(padding, 16px);
  width: 100%;
  margin: 0;
  background-color: $color-sidebar-bg;

  @include small {
    @include rem(padding, 44px);
  }

  @include medium {
    @include rem(padding-top, 110px);
    width: 30%;
    vertical-align: top;
  }

  a {
    @include link;
  }
}
