<div class="su-component su-primary-recent">

  <header class="su-component__title">
    <h2 class="su-heading su-heading--two su-heading--light">I am the latest post here</h2>
  </header>

  <div class="su-primary-recent__content">
    <p>
      I am the excerpt from the post. I have a limited content, followed
      by an image. I should only be one paragraph.
    </p>
  </div>

  <div class="su-primary-recent__image">

  </div>

</div>
