// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _brand.scss
// *
// *****************************************************************************

.#{$c-brand} {

  display: block;
  width: 100%;
  height: $brand-height;

  background-color: $color-brand-bg;

  font-family: $font-primary;
  line-height: $brand-height;

  text-align: left;

  @include breakpoint(392px) {
    display: inline-flex;
    position: relative;
    //width: 50%;
    transition: $animation-speed;
  }

  @include breakpoint($breakpoint-small) {
    //width: 25%;
  }

  &__title {

  }

  &__subtitle {
    display: none;

    @include breakpoint($breakpoint-large) {
      display: flex;
    }
  }

  &__link {
    @include rem(font-size, 40px);
    color: $color-brand-fg;
    text-decoration: none;
  }

}
