// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _brand.scss
// *
// *****************************************************************************

.#{$c-brand} {

  display: none;

  @include breakpoint($small) {
    @include rem(margin-bottom, 10px);
    display: flex;
    position: relative;
    width: 100%;
    height: $brand-height;
    font-family: $font-primary;
    line-height: $brand-height;
    background-color: darken($color-tint, 21%);
    transition: $animation-speed;

    border-top: 2px solid rgba($color-tile-border, 0.3);
    border-bottom: 1px solid rgba($color-tile-border, 0.2);
  }

  &__wrapper {
    display: flex;
    width: 100%;
  }

  &__logo {
    width: 150px;
    height: 150px;
    background-color: blue;
  }

  &__title {
    @include rem(font-size, 20px);
    @include rem(padding-left, 10px);

    display: flex;
    width: 100%;
    font-weight: lighter;
    color: lighten($color-tint, 12%);
    text-transform: uppercase;

    &:hover,
    &:focus {
      .su-brand__link {
        display: none;
      }
      .su-brand__link--hidden {
        display: block;
      }
    }
  }

  &__subtitle {

    display: none;

    @include breakpoint($medium) {
      @include rem(padding, 0 20px);
      display: flex;
      color: lighten($color-tint, 12%);
      text-align: right;
      white-space: nowrap;
    }
  }

  // Content

  &__link {
    color: lighten($color-tint, 12%);
    text-decoration: none;

    &--hidden {
      display: none;
    }
  }

}
