// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _brand.scss
// *
// *****************************************************************************

.#{$c-brand} {

  display: block;
  width: 100%;
  height: $brand-height;
  font-family: $font-primary;
  line-height: $brand-height;
  background-color: darken($color-tint, 21%);

  text-align: left;

  @include xsmall {
    display: flex;
    position: relative;
    transition: $animation-speed;
  }

  &__title {
    display: flex;
    text-transform: uppercase;
    color: lighten($color-tint, 12%);
  }

  &__subtitle {
    display: none;
    color: lighten($color-tint, 12%);

    @include small {
      display: flex;
      width: 100%;
    }
  }

  &__link {
    @include rem(font-size, 40px);
    text-decoration: none;
    color: lighten($color-tint, 12%);

    &--hidden {
      display: none;
    }
  }

}
