<p class="fabric-notes">
  Headings (with classes)
</p>

<h1 class="su-heading su-heading--one">Heading 1 .su-heading--one</h1>
<h2 class="su-heading su-heading--two">Heading 2 .su-heading--two</h2>
<h3 class="su-heading su-heading--three">Heading 3 .su-heading--three</h3>
<h4 class="su-heading su-heading--four">Heading 4 .su-heading--four</h4>
<h5 class="su-heading su-heading--five">Heading 5 .su-heading--five</h5>
<h6 class="su-heading su-heading--six">Heading 6 .su-heading--six</h6>

<p class="fabric-notes">
  Headings in reverse (classes do not need to match tags)
</p>

<h1 class="su-heading su-heading--six">Heading 1 .su-heading--six</h1>
<h2 class="su-heading su-heading--five">Heading 2 .su-heading--five</h2>
<h3 class="su-heading su-heading--four">Heading 3 .su-heading--four</h3>
<h4 class="su-heading su-heading--three">Heading 4 .su-heading--three</h4>
<h5 class="su-heading su-heading--two">Heading 5 .su-heading--two</h5>
<h6 class="su-heading su-heading--one">Heading 6 .su-heading--one</h6>

<p class="fabric-notes">
  Headings left aligned with --left
</p>

<h1 class="su-heading su-heading--one su-heading--left">Heading 1 .su-heading--one</h1>
<h2 class="su-heading su-heading--two su-heading--left">Heading 2 .su-heading--two</h2>
<h3 class="su-heading su-heading--three su-heading--left">Heading 3 .su-heading--three</h3>
<h4 class="su-heading su-heading--four su-heading--left">Heading 4 .su-heading--four</h4>
<h5 class="su-heading su-heading--five su-heading--left">Heading 5 .su-heading--five</h5>
<h6 class="su-heading su-heading--six su-heading--left">Heading 6 .su-heading--six</h6>


<p class="fabric-notes">
  The following headings are wrapped in an RTE component, so should
  inherit the heading styles without explicitly needing heading classes
</p>

<div class="su-rte">
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>
</div>
