// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _titles.scss
// *
// *****************************************************************************

.#{$p-title},
.#{$c-article}__content {
  margin-right: 0;
  margin-left: 0;
  line-height: 1.2;
  color: $color-title-fg;

  a {
    color: $color-title-fg-link;
    text-decoration: none;
    transition: $animation-speed;

    &:hover,
    &:focus {
      color: $color-title-fg-hover;
    }
  }

  &--one {
    @include rem(font-size, 30px);
    @include rem(margin-bottom, 60px);

    @include small {
      @include rem(font-size, 40px);
      @include rem(margin-bottom, 80px);
    }
  }

  &--two {
    @include rem(font-size, 30px);
    @include rem(margin-bottom, 40px);

    @include small {
      @include rem(font-size, 40px);
      @include rem(margin-bottom, 60px);
    }
  }
}
