// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _article.scss
// *
// *****************************************************************************

.#{$c-article} {

  &__header {

  }

  &__date {
    @include rem(margin-bottom, 16px);
    color: $color-fg-faded;
  }

  &__404 {
    font-weight: bold;
    color: $color-brand;
  }

  &__content {

    p {
      line-height: 1.6;
    }

    pre {
      @include rem(margin-bottom, 32px);
      @include rem(padding, 16px 16px);
      max-width: 100%;
      overflow: auto;
      display: block;
      font-family: monospace;
      background: $color-sidebar-bg;
      white-space: pre-wrap;
      line-height: 1.5;

      @include small {
        @include rem(margin-right, 32px);
        @include rem(padding, 16px 32px);
        @include rem(font-size, 18px);
        margin-left: -30px;
      }
    }

    figure {
      @include rem(margin-bottom, 32px);
      @include rem(font-size, 13px);

      // FU WP
      width: 100%!important;

      @include small {
        margin-left: -30px;
      }

      img {
        max-width: 75%;
        height: auto;
      }
    }

    figcaption {

      @include small {
        @include rem(margin-top, 8px);
        @include rem(margin-left, 32px);
      }
    }


  }


  &__more {
    @include rem(margin-bottom, 16px);
    @include rem(margin-left, 16px);

    display: block;
    text-decoration: none;
    color: $color-fg;
    line-height: 2;
    font-weight: bold;
    transition: $animation-speed;

    @include small {
      @include rem(margin-left, 32px);
    }

    &:hover,
    &:focus {

      color: $color-brand;

      &::after {
        @include rem(margin-left, 16px);
      }
    }

    &::after {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-top: 3px;
      margin-left: 8px;
      background-image: url('../images/logo-small.svg');
      background-size: 100% 100%;
      content: "";
      vertical-align: top;
      transition: $animation-speed;
    }
  }

  &__more-sr-only {
    @include sr-only;
  }

  // todo, remove this from WP instead
  .more-link {
    display: none;
  }

  &__footer {
    @include rem(margin-bottom, 48px);
  }

  &--divider {
    &::after {
      @include rem(margin, 32px 0);
      display: block;
      background-color: $color-brand;
      max-width: 4px;
      height: 4px;
      content: "";
    }
  }
}
