// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _article-meta.scss
// *
// *****************************************************************************

.#{$c-article-meta} {
  $root: &;

  @include rem(margin-left, 16px);

  line-height: 20px;
  vertical-align: middle;
  color: $color-fg-faded;

  @include small {
    @include rem(margin-left, 32px);
    @include rem(padding-top, 16px);
  }

  a {
    text-decoration: none;
    color: $color-fg;
  }

  &__byline {
    @include rem(padding-right, 16px);
  }

  &__author {
    a {
      @include rem(padding, 0 8px);
      @include rem(font-size, 16px);
      text-decoration: none;
      display: inline-block;
      color: $color-brand;
    }
  }

  &__published {
    @include rem(padding-right, 16px);
  }

  &__updated {
    display: none;

    @include xsmall {
      display: inline-block;
      color: $color-fg-faded;
    }
  }

  &__postedon {
    @include rem(padding-right, 16px);

  }

  &__comment {
    @include rem(padding-top, 16px);
    @include rem(padding-right, 16px);
    display: block;

    a {
      @include rem(padding, 4px 8px);
      @include rem(font-size, 16px);
      text-decoration: none;
      display: inline-block;
      background-color: $color-brand;
      color: $color-white;
      line-height: 1.6;
    }
  }

  &__categories {
    @include rem(padding-top, 16px);
    @include rem(padding-right, 16px);
    @include fontawesome("\f187");
    display: block;
    line-height: 1.6;
  }

  &__tags {
    @include rem(padding-right, 16px);
    @include fontawesome("\f02c");
    display: block;
    line-height: 1.6;

    @include small {
      display: inline-block;
    }
  }

  // In excerpts we want to hide some of the meta elements:
  &--short {
    #{$root}__comment {
      display: none;
    }
  }

}
